# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build artifacts
build/
dist/

# Temporary and build scratch
*.tmp
*.log
*.zip
PixelPry_Clean_Upload/
history_temp.db

# Virtual environments
.env
.venv
env/
venv/

# IDE and Editor settings
.vscode/
.idea/
*.swp
*.swo

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
