# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary and test files
test*.txt
test*.bin
out/
hide/
history_temp.db

# Virtual environments
.env
.venv
env/
venv/

# IDE and Editor settings
.vscode/
.idea/
*.swp
*.swo

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
